@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');


/* Resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --acent-color:#2294ed;
    --acent-color-dark:#1d69a3;
    --pading_inline_section: 20px;
}

body{
    font-family: 'poppines','sans-serif';
    color:var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

/* utility classes */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--pading_inline_section);
}

.flex{
    display: flex;
    align-items: center;
}

.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover{
    color: var(--acent-color);
}

.primary-button{
    background-color: var(--acent-color-dark);
    border-radius: 6px;
    font-weight: 700px;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--acent-color);
    transition: 0.25s ease-out;
}

.primary-button:hover{
    background-color: var(--acent-color);
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    padding: 12px 24px;
    color: var(--primary-text-color) !important;
    transition: 0.25px ease-out;
}

.secondary-button:hover{
    border-color: var(--acent-color);
    color: var(--acent-color) !important;
}

/* top banner */

.top-banner{
    background-image: url('./assets/asset\ 32.png');
     background-color: #4fb3d4;
     /* background-repeat:repeat-x;D */
     background-size: 300px;
}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}


/* nav bar */

.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}
 
.company-logo img{
    width: 100px;
    margin-left: 2px;
    border-radius: 50%;
}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

/* Header */

.header{
    padding: 50px var(--pading_inline_section);
}
 
.header-section{
    justify-content: center;
    gap: 50px;
}

.header-left{
    max-width: 40vw;

}

.header-right img{
    width: 600px;
}

.header-left h1 {
    margin-top: 20px;
}

.get-started-button{
  margin-top: 20px;
}

/* company section */

.companies-header{
    margin-block: 25px;
    text-align: center;
    color: var(--primary-text-color);
}

.logo{
    height: 46px;
}

.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-content p{
    text-align: center;
    padding-bottom: 10px;

}

.lower-logo img{
    height: 50px;

}

